

{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Contact</h2>
        {% if success %}
            <p>Thank you for your message. We'll get back to you shortly.</p>
        {% else %}
        
        <form action = "{{ url_for('contact') }}" method = post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=40) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=67) }}
            </p>
            <p>
                {{ form.subject.label }}<br>
                {{ form.subject(size=67) }}
            </p>
            <p>
                {{ form.message.label }}<br>
                {{ form.message(cols="65", rows="10") }}
            </p>
            <p>
                {{ form.submit }}<br>
                {% if error in form %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            </p>
        </form>
        {% endif %}
    </div>
{% endblock %}