

{% extends "base.html" %}

{% block content %}
<div style = "position: relative;
text-align: center;">
<img src="https://media.dhakatribune.com/uploads/2016/08/stock-economy.jpg" alt="Stock-price" style="width:100%; opacity: 0.8;">

<div style="
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"><h2>Stock-Price</h2>
  <p style = "font-family:'Cambria', Cochin, Georgia, Times, Times New Roman, serif">Use sentiment analysis and premium features such such as STAK score to decide when it is best to buy or sell stocks to maximise the profit</p>
</div>

</div>
{% endblock %}
